@charset "utf-8";
// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Roboto+Condensed:400,500,600,700');
@font-face {
  font-family: 'ananda';
  src: url('../fonts/Ananda/Ananda.ttf')
}
 // listing with icon
 .with-icon {
   padding: 0;
   list-style: none;
  li {
    background-image: url('../images/check-icon.png');
    background-position: 0 6px;
    background-repeat: no-repeat;
    background-position: 0 4px;
    padding-left: 25px;
    margin: 0 0 20px 0;
    text-align: justify;
  }
 }
.sec-title {
  position: relative;
  h2 {
    font-size: 30px;
    line-height: 24px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  p {
    margin-bottom: 0;
    font-size: 16px;
  }
 
  // &::after {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   height: 3px;
  //   width: 100px;
  //   background: #5fb4dd;
  // }
}

// header
.rs-toolbar {
  padding: 4px 0 5px;
  background-color: #111111;
}
.rs-header {
  .rs-header-top {
    .header-contact {
      .widget-text {
        position: relative;
        padding-left: 55px;
        i {
          position: absolute;
          border-radius: 2px;
          text-align: center;
          left: 0;
          line-height: 40px;
          color: #5fb4dd;
          font-size: 35px;
          -webkit-transition: all .3s ease;
          transition: all .3s ease;
          font-weight: 700;
        }
        .info-text a {
          color: #505050;
          font-weight: 400;
          font-size: 16px;
          span {
            display: block;
            font-weight: 700;
            color: #101010;
            line-height: 18px;
          }
        }
      }
    }
    .logo-area {
      padding: 5px 0;
      img {
        height: 100px;
      }
    }
  }
}
// Services
.rs-services-style1 {
  .services-item {
    background-color: #212121;
    padding: 25px 17px 17px;
    box-shadow: 0 4px 2px -2px #000000;
    z-index: 111;
    position: relative;
    top: 0px;
    transition: all 0.3s ease 0s;
    .services-icon {
      height: 130px;
      width: 130px;
      background-color: #212121;
      line-height: 88px;
      text-align: center;
      position: absolute;
      top: -50px;
      z-index: -1;
      font-size: 40px;
      border-radius: 50%;
      left: 0;
      right: 0;
      margin: 0 auto;
      color: #5fb4dd;
      transition: all 0.3s ease 0s;
      .fa-american-sign-language-interpreting:before {
        content: "\f2a3";
      }
    }
    .services-desc {
      text-align: center;
      margin-top: 6px;
      .services-title {
        position: relative;
        color: #ffffff;
        font-size: 20px;
        margin-bottom: 7px;
        z-index: 10;
      }
      p {
        color: #cccccc;
        margin-bottom: 0;
      }
    }
  }
}
// About us
#rs-about {
  padding: 60px 0;
}
.rs-about {
  .about-desc {
    margin-bottom: 30px;
  }
  .card {
    border: 0;
    .card-header {
      padding: 0;
      border: 0;
      margin-bottom: 10px;
      background: transparent;
      .acdn-title:not(.collapsed) {
        background-color: #5fb4dd;
        color: #ffffff;
        &::after{
          transform: rotate(90deg);
          color: #ffffff;
        }
      }
      .acdn-title{
        background-color: rgba(240, 240, 240, 0.8);
        position: relative;
        margin-bottom: 0;
        font-size: 18px;
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        cursor: pointer;
        font-weight: 500;
        letter-spacing: 0.2px;
        -webkit-transition: 0.2s background-color ease-in-out;
        transition: 0.2s background-color ease-in-out;
        &::after {
          position: absolute;
          font-family: FontAwesome;
          content: "\f0da";
          right: 20px;
          transition: all 0.3s ease 0s;
        }
      }
    }
    .card-body {
      padding: 5px 15px 18px;
    }
  }
}

// counter
.bg3 {
  background-image: url('../images/home/counter-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
}
.rs-counter{
  margin-bottom: 130px;
  .counter-title {
    color: #fff;
    font-size: 30px;
    line-height: 28px;
    margin-bottom: 25px;
  }
  .counter-text {
    p {
      margin-bottom: 35px;
      color: rgba(255, 255, 255, 0.6);
    }
  }
  .counter-img {
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1);
  } 
  .rs-image-effect-shine {
      position: relative;
      overflow: hidden;
  }
  .rs-counter-list {
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 30px;
    text-align: center;
    padding: 23px;
    transition: .3s all ease;
    .counter-number {
      font-size: 60px;
      color: #ffffff;
      margin-bottom: 6px;
    }
    .counter-desc {
      color: #ffffff;
      font-weight: 500;
      margin-bottom: 0;
      font-size: 20px;
      text-transform: uppercase;
    }
  }
}

// Our Mission
.our-mission {
  margin-bottom: 25px;
  padding: 30px 0;
  .logo-wrapper{
      img{
          width: 150px;
      }
  }
  // p{
  //     font-family: 'ananda';
  //     font-size: 30px;
  //     margin-top: 20px;
  // }
}
// student vision
.student-vision{
  margin-bottom: 125px;
  .logo-wrapper{
      img{
          width: 150px;
      }
  }
  h6{
      font-size: 25px;
      margin: 40px 0 10px 0;
      color: lightskyblue;
  }
}
// footer

// footer
.footer {
  background: #0b0c11;
  padding:10em 0em 5rem 0;
  h6 {
      font-size: 16px;
      color: #bfbfbf;
      text-align: left;
      line-height: 36px;
  }
  .hpft {
      padding: 0 3em;
  }
  .w3layouts_footer_grid{
      h2, h3{
          font-size: 24px;
          color: #ffffff;
          position: relative;
          margin-bottom: 1em;
          padding-bottom: 1rem;
          letter-spacing: 2px;
          border-bottom: 1px solid #3db166;
      }
      p {
          font-size: 15px;
          line-height: 1.8em;
          color: #bfbfbf;
          letter-spacing: 1px;
      }
      .con_inner_text{
          li {
              list-style-type: none;
              line-height:1.8em;
              font-size: 15px;
              margin-bottom: 5px;
              letter-spacing: 1px;
              a {
                  color: #bfbfbf;
              }                
          }
          &.midimg li {
              display: inline-block;
              float: left;
              width: 22%;
          }
      }
  }
  
}
.copyright {
  color: #fff;
  line-height: 1.8em;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 0em;
  background:#1d1d23;
  padding: 10px 0;
  a {
      color: #fff;
      text-decoration: underline;
      &:hover{
          color: #51be78;
      }
  }
}

// services
.w3-agile-services{
  padding: 75px 0px 40px 0px;
  // background-color: #1b2944;
  .services-icon {
      margin-bottom: 15px;
      i {
          color: #ffffff;
          font-size: 35px;
      }
  }
  h5{
      color: #ffffff;
      margin-bottom: 15px;
  }
  p{
      color: #ffffff;
      font-size: 13px;
      line-height: 23px;
      opacity: 0.8;
  }
}
// home bottom footer
.home-bottom-footer{
  text-align: center;
  .agileits-services{
      position: absolute;
      width: 80%;
      left: 10%;
      top: -100px;
      background-color: #343a40;
      padding: 40px 0;
  }
}
// classes
.page-classes{
  margin-bottom: 125px;
  .table-title-txt{
      font-size: 1.6rem;
      padding: 0;
      margin-bottom: 0;
      color: lightskyblue;
  }
  .course-item {
      margin-bottom: 30px;
      border: 1px solid #dddddd;
      transition: all 0.35s ease 0s;
      .course-img {
          position: relative;
          margin: -1px -1px 0 -1px;
          &::before {
              background: rgba(0, 0, 0, 0.5);
              background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
              background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
              background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
              background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
              position: absolute;
              content: "";
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              -webkit-transition: all 1s ease;
              transition: all 1s ease;
          }
          img {
              width: 100%;
          }
          .course-value {
              position: absolute;
              bottom: -20px;
              right: 22px;
              padding: 10px 30px;
              text-align: center;
              background-color: #5fb4dd;
              color: #ffffff;
              font-size: 14px;
              font-weight: 600;
          }
          .course-toolbar {
              position: absolute;
              width: 100%;
              bottom: 15px;
              padding: 0 20px;
              .course-category {
                  margin-bottom: 3px;
                  a {
                      font-size: 24px;
                      color: #ffffff;
                  }
              }
          }
      }
      .course-body {
          .course-desc {
              padding: 20px;
              .course-title {
                  font-size: 20px;
                  margin-bottom: 7px;
                  a {
                      color: #212121;
                  }
              }
              p {
                  margin-bottom: 0;
                  transition: all 0.35s ease 0s;
              }
          }
      }
      .course-footer {
          padding: 15px 20px;
          background-color: #f0f0f0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          font-weight: 600;
          font-size: 15px;
          .course-button a {
              color: #505050;
              display: inline-block;
              position: relative;
              padding-right: 12px;
          }
      }
  }
}
/* team */
.team-w3pvts-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  .box20 {
      position: relative;
      overflow: hidden;
      cursor: pointer;
      &::before, &::after {
          position: absolute;
          content: ""
      }
      &::before {
          width: 100%;
          height: 100%;
          background: #2ed3ae9c;
          top: 0;
          left: -100%;
          z-index: 1;
          /* transform: rotate(21deg); */
          transform-origin: center top 0;
          transition: all 0.5s ease 0s;
      }
      &:hover:before {
          left: 0
      }
      &:hover:after {
          bottom: -70%
      }
      img {
          width: 100%;
          height: 170px
      }
      .box-content{
          width: 100%;
          padding: 0 20px;
          position: absolute;
          left: 0;
          top: -100%;
          color: #fff;
          z-index: 2;
          transition: all 1.1s ease 0s;
          .title {
              font-size: 16px;
              margin: 0;
              text-transform: capitalize;
              color: #fff;
              font-weight: 600;
          }
          .post {
              display: inline-block;
              font-size: 12px;
              letter-spacing: 1px;
          }
      }
      &:hover{
          .box-content {
              top: 30px
          }
      }
  }
  
  .teacher-name {
      font-size: 17px;
      margin: 10px 0 7px 0;
  }
}

.gallery-modal {
  .close {
      span {
          font-size: 25px;
      }
  }    
  .modal-body{
      max-height: 400px;
      overflow-y: scroll;
      overflow-x: hidden;
      img{
          width: 100%;
          margin-bottom: 15px;
      }
  }
}
.abt-title {
  h2 {
    font-size: 30px;
    line-height: normal;
    margin-bottom: 20px;
    padding-bottom: 16px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    word-spacing: 5px;
    &::before{
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 5px;
      width: 100px;
      background-color: #5fb4dd;
    }
  }
}
.custome-table{
  th{
    background-color: #e99a54;
    color: #fff;
  }
}
.gallery-wrapper {
  padding: 30px 0 110px 0;
}
@media only screen and (max-width:990px) {
  .box20 {
      margin-bottom: 30px
  }
}

@media only screen and (max-width:479px) {
  .box20 .title {
      font-size: 20px
  }
}

// Responsive Designing
@media all and (max-width: 1690px) {}
@media all and (max-width: 1280px) {}
@media all and (max-width: 980px) {}
@media all and (max-width: 768px) {
  .custom-menu{
      position: absolute;
      width: 100%;
      left: 0;
      top: 90px;
      padding-left: 15px !important;
  }
  .home-bottom-footer{
      .agileits-services{
          position: relative;
          top: 0;
      }
  }

}
@media all and (max-width: 480px) {}